<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<title>Pizzeria</title>
	<style>
		.navbar {
			background-color: #800020;
			/* Bordeaux */
		}

		.navbar-brand,
		.nav-link {
			color: #fff !important;
		}

		.navbar-brand:hover,
		.nav-link:hover {
			color: #ffcc00 !important;
			/* Giallo chiaro */
		}

		.bg-image {
			background-image: url('/img/pizza.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	</style>
</head>

<body class="bg-image">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand ms-3" href="		http://localhost:8080/pizzeria/menu">Pizzeria</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item active">
					<a class="nav-link " href="http://localhost:8080/pizzeria/menu">Menu <span
							class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:8080/pizzeria/create">Crea</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="http://localhost:8080/ingredienti">Ingredienti<span
							class="sr-only"></span></a>
				</li>

			</ul>
		</div>
	</nav>
	<div class="container">

		<div class="row justify-content-around">

			<h1 class="pt-5 pb-5  text-light text-center">Menu</h1>
			<div th:unless="${pizze.isEmpty()}" th:each="pizza:${pizze}" class="card m-5 p-0" style="width: 18rem;">
				<img th:src="@{${'/img/' + pizza.fotoUrl}}" class="card-img-top " alt="...">
				<div class="card-body">
					<h5 class="card-title" th:text="${pizza.nome}"></h5>
					<p class="card-text" th:text="${pizza.descrizione}"></p>
					<p class="card-text" th:text="|€ ${#numbers.formatDecimal(pizza.price, 1, 2, 'COMMA')}|"></p>
					<div class="d-flex gap-3"> <a th:href="@{|/pizzeria/dettaglio/${pizza.id}|}"
							class="btn btn-primary">Dettaglio</a>

						<a class="btn btn-primary" th:href="@{|/pizzeria/edit/${pizza.id}|}"> <i
								class="bi bi-pencil-square"></i></a>

						<form th:action=" @{|/pizzeria/delete/${pizza.id}|}" method="post">
							<button class="btn btn-danger" type="submit" id="submitButton"
								th:data-confirm-delete="|Sei sicuro di voler cancellare la pizza?|"
								click="if(!confirm(this.getAttribute('data-confirm-delete'))) return false"> <i
									class="bi bi-trash"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
			<div th:if="${pizze.isEmpty()}">
				<p> Non ci sono pizze nel menu </p>
			</div>
		</div>
		<div>

			<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>