<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Pizzeria</title>
    <style>
        .navbar {
            background-color: #800020;
        }

        .navbar-brand,
        .nav-link {
            color: #fff !important;
        }

        .navbar-brand:hover,
        .nav-link:hover {
            color: #ffcc00 !important;
        }

        .bg-image {
            background-image: url('/img/2638221-pizza-4k-desktop-picture.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            width: 100%;
        }
	</style>
	</head>
	
	<body class="bg-image">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark ">
			<a class="navbar-brand ms-3" href="http://localhost:8080/pizzeria/menu">Pizzeria</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
	
					<li class="nav-item active">
						<a class="nav-link" href="http://localhost:8080/pizzeria/menu">Menu <span
								class="sr-only"></span></a>
					</li>
					<li class="nav-item disabled">
						<a class="nav-link" href="http://localhost:8080/pizzeria/create">Crea</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="http://localhost:8080/ingredienti">Ingredienti<span
								class="sr-only"></span></a>
					</li>
				</ul>
			</div>
		</nav>
	
		<!-- Contenuto principale -->
    <div class="container justify-content-start ms-5">
        <div class="row mt-5 p-0">
            <div class="col-6">
                <h1 class="mb-5 mt-5">Gestione Ingredienti</h1>
                <!-- Form per aggiungere nuovo ingrediente -->
				<form id="form-ingredienti" th:action="@{/ingredienti/create}" th:object="${ingrediente}" method="post">
				    <div class="input-group mb-3">
				        <input type="text" th:field="*{ingrediente}" id="ingrediente" class="form-control" placeholder="Nome Ingrediente">
				        <button class="btn btn-primary" type="submit">Aggiungi Ingrediente</button>
				    </div>
				    <div th:if="${#fields.hasErrors('ingrediente')}" class="invalid-feedback">
				        <ul>
				            <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Errore</li>
				        </ul>
				    </div>
				</form>

                <!-- Lista degli ingredienti -->
                <h2 class="mt-5">Lista degli Ingredienti</h2>
                <div th:unless="${listaIngredienti.isEmpty()}">
                    <ul>
                        <li class="d-flex m-1" th:each="ingrediente: ${listaIngredienti}">						
						

                         <div class="w-25 " th:text="${ingrediente.ingrediente}"></div>
							<form  th:action=" @{|/ingredienti/delete/${ingrediente.id}|}" method="post">
						     <button class="btn btn-danger " type="submit" id="submitButton" th:data-confirm-delete="|Sei sicuro di voler cancellare l'ingrediente?|"
															click="if(!confirm(this.getAttribute('data-confirm-delete'))) return false"> <i class="bi bi-trash"></i><//div></button>
						   </form>
					   
						 
                        </li>
                    </ul>
                </div>
                <div th:if="${listaIngredienti.isEmpty()}">
                    <p>Non ci sono ancora ingredienti.</p>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>